.logo {

  &:hover,
  &:link,
  &:visited{
    color: var(--color-text);
    font-weight: bold;
  }

  &_text {
    font-family: 'Agustina', serif;
    font-size: 2.8rem;
    margin: 0 .625rem;

    &-arrow{
      font-size: 3rem;
    }
  }
}