.nav {
  &-list {
    list-style: none;
    display: inline-flex;
    margin: 0;
  }

  &-item {
    min-width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;

    &-link {
      width: 100%;
      border-bottom: 4px solid transparent;
      transition: all .1ms ease-in-out;
      color: var(--color-text);
      padding: 0.625rem;

      &:active,
      &:hover,
      &:visited{
        color: var(--color-text);
        font-weight: bold;
      }

      &:hover {
        border-bottom-color: var(--color-text);
      }
    }

    &__active {
      transition: all .5ms ease-in-out;
      border-bottom-color: var(--color-text);
      font-weight: bold;
    }
  }

  &-container {
    display: flex;
    justify-content: space-between;
    height: 70px;
    align-items: center;
    padding: 0 15rem;
  }

  &-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}