.nav {
  &-list {
    list-style: none;
    display: inline-flex;
    margin: 0;
  }

  &-item {
    min-width: 100px;
  }

  &-container {
    display: flex;
    justify-content: space-between;
    background: orange;
    height: 70px;
    align-items: center;
    padding: 0 15rem;
  }

  &-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}