@mixin social-icon($color) {
  color: $color;
  &:hover {
    color: darken($color, 10%);
    transform: translateY(-3px) rotate(180deg);
    -webkit-box-shadow: 5px 12px 50px -18px rgba(0,0,0,0.63);
    box-shadow: 5px 12px 50px -18px rgba(0,0,0,0.63);
  }
}

.social-networks {
  width: 250px;
  display: flex;
  justify-content: space-between;

  @include respond(phone){
    width: 100%;
    margin: 4rem 0;
  }

  &-github {
    @include social-icon(#333);
  }

  &-linkedin {
    @include social-icon(#0e76a8);
  }

  &-gmail {
    @include social-icon(#ea4335);
  }

  &-instagram {
    @include social-icon(#e4405f);
  }

  &-github,
  &-linkedin,
  &-gmail,
  &-instagram {
    transition: all 500ms ease-in-out;
    font-size: 4rem;
  }

  &-github__2,
  &-linkedin__2,
  &-gmail__2,
  &-instagram__2 {
    color: #fff;
    font-size: 2.5rem;
  }

}