.experience {
  &-wrap {
    @include background();
  }

  &-head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
  }

  &-position{
    font-size: 2rem;
    font-weight: bold;
    margin: 0;
  }

  &-period{
    font-size: 1.7rem;
  }

  &-company {
    font-size: 1.6rem;
    font-weight: 700;
    text-align: left;
    margin-bottom: 1rem;
  }

  &-description {
    text-align: justify;
  }
}