@use "sass:meta";

:root {
  --primary-color: #{$primary-color};
  --secondary-color: #{$secondary-color};
  --bg-color: #{$backround-color};
  --footer-bg-color: #{$black-color};
  --color-text: #{$dark-blue-text};
  --color-text-2: #{$white-color};
  --bg-project-color: #{$white-color};
  --switch-color: #{$black-color};
  --switch-color-text: #{$white-color};
  --box-shadow-head: rgba(0,0,0,0);
}

[data-theme="dark"] {
  --primary-color: #{$black-color};
  --secondary-color: #{$black-color};
  --bg-color: #{$black-color};
  --color-text: #{$white-color};
  --bg-project-color: #{$black-color};
  --switch-color: #{$white-color};
  --switch-color-text: #{$dark-blue-text};
  --box-shadow-head: rgba(2,12,27,0.7);
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  background: var(--bg-color);
}
