@import './abstracts/mixins';
@import './abstracts/variables';
@import './abstracts/helpers';

@import './themes/dark';
@import './base/base';
@import './base/typography';

@import './components/buttons';

@import './layout/footer';
@import './layout/sections';

@import './sections/about';
@import './sections/contact';
@import './sections/hero';
@import './sections/projects';
@import './sections/head';

@import './vendor/css/font-awesome.min.css';
